@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title" class="alert alert-warning">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Bokaro General Hospital,Bokaro Sector 4 -827004<br />
        Near Ambedkar Chowk,Bokaro Steel City<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">bokarogeneralhospital@sail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">+91 6542 232 750</a>
    </address>
</main>